@charset "UTF-8";
/** Holberton Practice Styles
 * ------ Header
 */

header {
	background-color: #FFFFFF;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: 20px 50%;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}



header #api_status {
	float: right;
	border: 4px solid #CCCCCC;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right: 30px;
	margin-top: 13px;
}

.not_available {
	background: #CCCCCC;
}

.available {
	background: #ff545f;
}